version: '3'
services:
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management-alpine
    volumes:
      - rabbitmq_data:/data
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    restart: on-failure
    ports:
      - 5672:5672
      - 15671:15671
      - 15672:15672
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:15672"]
      interval: 5s
      timeout: 15s
      retries: 5
    networks:
      - app-network

  mongo:
    container_name: mongo
    image: mongo
    restart: on-failure
    ports:
      - "27017:27017"
    networks:
      - app-network

  image-capture:
    container_name: image-capture
    build:
      context: '.'
      dockerfile: Dockerfile
    depends_on:
      - rabbitmq
      - mongo
    environment:
      - CONN_URL=amqp://rabbitmq
      - MONGO_URL=mongodb://mongo:27017
    restart: on-failure
    ports:
      - 5005:5005
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 3G
        reservations:
          cpus: '0.1'
          memory: 50M
    networks:
      - app-network
    links:
      - rabbitmq

volumes:
  rabbitmq_data: {}

networks:
  app-network:
    driver: bridge
